<!-- =========================
     COMMON HEADER
========================= -->

<header>

  <div class="container">

    <nav>

      <div class="logo">
        <a href="{{ '/' | relative_url }}">
          In Passing
        </a>
      </div>


      <div class="menu">

        <a href="{{ '/' | relative_url }}">
          Home
        </a>

        <a href="{{ '/about.html' | relative_url }}">
          About
        </a>

        <a href="{{ '/photography.html' | relative_url }}">
          Photography
        </a>

        <a href="{{ '/daily.html' | relative_url }}">
          Daily
        </a>

        <a href="{{ '/running.html' | relative_url }}">
          Running
        </a>

        <a href="{{ '/reflections.html' | relative_url }}">
          Reflections
        </a>

        <a href="{{ '/thoughts.html' | relative_url }}">
          Thoughts
        </a>

        <a href="{{ '/moments.html' | relative_url }}">
          Moments
        </a>

      </div>

    </nav>

  </div>

</header>
