/* =========================
   COMMON STYLES
========================= */


/* =========================
   BOX SIZING
========================= */

* {
  box-sizing: border-box;
}


/* =========================
   BODY
========================= */

body {
  margin: 0;

  font-family:
    Arial,
    "Noto Sans KR",
    sans-serif;

  color: #222;
  background: #ffffff;
}


/* =========================
   CONTAINER
========================= */

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


/* =========================
   FOOTER
========================= */

footer {
  padding: 35px 0;

  border-top: 1px solid #eeeeee;

  text-align: center;

  color: #999;

  font-size: 13px;
}
