<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>{{ page.title }} | In Passing</title>


  <!-- =========================
       COMMON CSS
  ========================= -->

  <link
    rel="stylesheet"
    href="{{ '/assets/css/common.css' | relative_url }}"
  >


  <!-- =========================
       COMMON HEADER CSS
  ========================= -->

  <link
    rel="stylesheet"
    href="{{ '/assets/css/header.css' | relative_url }}"
  >


  <!-- =========================
       PHOTO POST CSS
  ========================= -->

  <link
    rel="stylesheet"
    href="{{ '/assets/css/photo-post.css' | relative_url }}"
  >

</head>



<body>


<!-- =========================
     COMMON HEADER
========================= -->

{% include header.html %}



<!-- =========================
     MAIN
========================= -->

<main class="container">


  <article class="article">


    <!-- CATEGORY -->

    <div class="category">
      Photography
    </div>



    <!-- TITLE -->

    <h1>
      {{ page.title }}
    </h1>



    <!-- POST DATE -->

    <div class="date">
      {{ page.date | date: "%B %-d, %Y" }}
    </div>



    <!-- =========================
         PHOTO
    ========================= -->

    {% if page.images %}


      <div class="photo-gallery">


        {% for photo in page.images %}


          <div class="gallery-photo">

            <img
              src="{{ photo | relative_url }}"
              alt="{{ page.title }}"
            >

          </div>


        {% endfor %}


      </div>


    {% else %}


      <div class="main-photo">

        <img
          src="{{ page.image | relative_url }}"
          alt="{{ page.title }}"
        >

      </div>


    {% endif %}



    <!-- =========================
         PHOTO INFO
    ========================= -->

    <div class="photo-info">


      {% if page.location
        and page.location != "" %}

        <span>
          {{ page.location }}
        </span>

      {% endif %}


      <span>
        Photography
      </span>


      {% if page.shooting_date
        and page.shooting_date != "" %}

        <span>
          {{ page.shooting_date }}
        </span>

      {% endif %}


    </div>



    <!-- =========================
         STORY
    ========================= -->

    <section class="story">

      {{ content }}

    </section>



    <!-- =========================
         PHOTOGRAPHY POSTS
    ========================= -->

    {% assign photography_posts = site.posts
      | where: "category", "photography" %}

    {% assign previous_photo = nil %}
    {% assign next_photo = nil %}


    {% for post in photography_posts %}


      {% if post.url == page.url %}


        {% assign current_index = forloop.index0 %}


        <!-- OLDER PHOTOGRAPHY POST -->

        {% unless forloop.last %}

          {% assign previous_index =
            current_index | plus: 1 %}

          {% assign previous_photo =
            photography_posts[previous_index] %}

        {% endunless %}



        <!-- NEWER PHOTOGRAPHY POST -->

        {% unless forloop.first %}

          {% assign next_index =
            current_index | minus: 1 %}

          {% assign next_photo =
            photography_posts[next_index] %}

        {% endunless %}


      {% endif %}


    {% endfor %}



    <!-- =========================
         PREVIOUS / NEXT / PHOTOGRAPHY
    ========================= -->

    <div class="post-navigation">



      <!-- PREVIOUS : NEWER POST -->

      <div class="nav-side nav-next">


        {% if next_photo %}


          <a href="{{ next_photo.url | relative_url }}">


            <span class="nav-label">
              PREVIOUS
            </span>


            <span class="nav-title">
              {{ next_photo.title }}
            </span>


            {% if next_photo.image %}

              <img
                class="nav-thumbnail"
                src="{{ next_photo.image | relative_url }}"
                alt="{{ next_photo.title }}"
              >

            {% endif %}


          </a>


        {% endif %}


      </div>



      <!-- NEXT : OLDER POST -->

      <div class="nav-side nav-previous">


        {% if previous_photo %}


          <a href="{{ previous_photo.url | relative_url }}">


            <span class="nav-label">
              NEXT
            </span>


            <span class="nav-title">
              {{ previous_photo.title }}
            </span>


            {% if previous_photo.image %}

              <img
                class="nav-thumbnail"
                src="{{ previous_photo.image | relative_url }}"
                alt="{{ previous_photo.title }}"
              >

            {% endif %}


          </a>


        {% endif %}


      </div>



      <!-- PHOTOGRAPHY CATEGORY -->

      <div class="nav-photography">


        <a
          class="photography-link"
          href="{{ '/photography.html' | relative_url }}"
        >


          <span class="photography-label">
            PHOTOGRAPHY
          </span>


          <div class="category-preview">


            {% for photo_post in photography_posts limit:4 %}


              {% if photo_post.image %}

                <img
                  src="{{ photo_post.image | relative_url }}"
                  alt="{{ photo_post.title }}"
                >

              {% endif %}


            {% endfor %}


          </div>


        </a>


      </div>


    </div>


  </article>


</main>



<!-- =========================
     FOOTER
========================= -->

{% include footer.html %}


</body>

</html>
